<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/visuals/layout.css">
   
    {% block head %}        
        <title>Starx</title>
    {% endblock %}
</head>
<body>
    <header>
        <nav class="links">
            <a href="/products">Products</a>
            <a href="/cart">Cart</a>
        </nav>
    </header>
    {% block content %}{% endblock %}

    <script src="/scripts/layout.js"></script>
</body>
</html>